#set( $BASE_PACKAGE = $basePackagePath )
#set( $GENERATED_PACKAGE = "$BASE_PACKAGE#if ( $poGeneric.getPackageName() && $poGeneric.getPackageName().trim().size() != 0 ).$poGeneric.getPackageName()#end" )
#set( $EDIT_PACKAGE = "$BASE_PACKAGE" )
#set( $CLASS_NAME = "$poGeneric.getIdentifier()Generated" )
#set( $LUWAK_PACKAGE = "de.muenchen.itm.a23.luwak" )

package $GENERATED_PACKAGE;

import ${LUWAK_PACKAGE}.framework.pageObjects.PageObject;
import ${LUWAK_PACKAGE}.framework.pageObjects.LuwakPo;
import ${LUWAK_PACKAGE}.framework.util.Control;
#foreach( $destPo in $destionationPos )
import $EDIT_PACKAGE#if ( $destPo.getPackageName() && $destPo.getPackageName().trim().size() != 0 ).$destPo.getPackageName()#end.$destPo.getIdentifier();
#end

public class $CLASS_NAME extends LuwakPo {

#foreach( $element in $poGeneric.getElements() )
	public final Control $element.getIdentifier() = control(by.$element.getType().getByMethodName()("$element.getLocator()"));
#end
#foreach( $transition in $poGeneric.getTransitions() )
	public final Control $transition.getIdentifier() = control(by.$transition.getType().getByMethodName()("$transition.getLocator()"));
#end

	public $CLASS_NAME(PageObject po) {
		super(po);
	}
 
#foreach( $transition in $poGeneric.getTransitions() )
	
	public $transition.getDestination().getIdentifier() click${display.capitalize($transition.getIdentifier())}() {
		${transition.getIdentifier()}.click();
		return new $transition.getDestination().getIdentifier()(this);
	}
	
#end 
 
#foreach( $element in $poGeneric.getElements() )
	/**
	 * Get the Control for the Element $element.getIdentifier().
	 * @return $element.getIdentifier() - Element
	 */
	public Control get${display.capitalize($element.getIdentifier())}() {
		return $element.getIdentifier();
	}
	
#end
#foreach( $transition in $poGeneric.getTransitions() )
	/**
	 * Get the Control for the Transition $transition.getIdentifier().
	 * @return $transition.getIdentifier() - Transition
	 */
	public Control get${display.capitalize($transition.getIdentifier())}() {
		return $transition.getIdentifier();
	}
	
#end

}
